---
---

@import "minimal-mistakes";

$primary-color: #F58F7C;
$link-color: #F58F7C;
$link-color-hover: #F2C4CE;

.btn--primary {
  background-color: #F58F7C;
  border-color: #F58F7C;
}
.btn--primary:hover {
  background-color: #F2C4CE;
  color: #2C2B30;
}

a {
  color: #F58F7C;
}
a:hover {
  color: #F2C4CE;
}
